<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="Css/chets.css">
    <title></title>
  </head>
  <body>
    <!-- Main Container Starts -->

      <!-- Inner Container Starts -->
      <div class="Inner-Container">
          <!-- Main Nav Starts -->
          <nav class="main-nav">
            <div class="Logo">
            <img src="Images/.jpg" alt="" class="logo">
            </div>
              <!-- Inner Nav Starts -->
            <ul class="main-menu">
              <li> <a href="#">Home </a></li>
              <li> <a href="#">About </a></li>
              <li> <a href="#">Services</a></li>
              <li> <a href="#">Contact</a></li>
            </ul>

            <ul class="right-menu">
              <li> <a href="#"> <i class="fas fa-search"></i></a></li>
              <li> <a href="#"> <i class="fas fa-shopping-cart"></i></a></li>
          </ul>

          </nav>
          <!-- Main-nav Ends -->
          <div class="Border">
          <span class="Ptext">This is Random</span>
          </div>
      </div>
      <!-- Inner Container Ends -->
      <!-- Ligth SEction Starts -->
      <section class="home-cards">
        <div class="home-Inner">
          <div>
          <img src="Images/pic-1.png" alt="">
          <h3>Unique</h3>
          <p>he following paragraph illustrates this pattern of organization. In this paragraph the topic
            sentence and concluding sentence</p>
           <a href="#">Learn More <i class="fas fa-chevron-right"></i> </a>
        </div>
        <div>
          <img src="Images/pic-1.png" alt="">
          <h3>Amazing</h3>
          <p>he following paragraph illustrates this pattern of organization. In this paragraph the topic
            sentence and concluding sentence</p>
           <a href="#">Learn More <i class="fas fa-chevron-right"></i> </a>
        </div>
        <div>
          <img src="Images/pic-1.png" alt="">
          <h3>Suprising</h3>
          <p>he following paragraph illustrates this pattern of organization. In this paragraph the topic
            sentence and concluding sentence</p>
           <a href="#">Learn More <i class="fas fa-chevron-right"></i> </a>
        </div>
        <div>
          <img src="Images/pic-1.png" alt="">
          <h3>Interesting</h3>
          <p>he following paragraph illustrates this pattern of organization. In this paragraph the topic
            sentence and concluding sentence</p>
           <a href="#">Learn More <i class="fas fa-chevron-right"></i> </a>
        </div>
      </div>

      </section>
        <!-- Light SEctiom Ends -->
        <section class="section-3">
          <div class="Inner-Logo">
          <img src="Images/about.png" alt="" class="logo" width="">
        </div>
          <div class="inner-3">
            <h2>Section-3</h2>
            <p>he following paragraph illustrates this pattern of organization. In this paragraph the topic
              sentence and concluding sentence</p>
              <a href="#">Button</a>
          </div>

        </section>

        <div class="Section-4">
        </div>

        <div class="Section-5">
            <div class="sec">
          <img src="Images/chets.jpg" alt="" height="100px">
        </div>
          <h2>!!Hey ,I'M Chetan!!</h2>
          <p>JAAT SU SMART SU</p>
        </div>

        <div class="Section-6">
        </div>

      <!-- </section> -->
        <!-- Light SEctiom Ends -->
        <section class="section-3">
          <div class="Inner-Logo">
          <img src="Images/about.png" alt="" class="logo" width="">
        </div>
          <div class="inner-3">
            <h2>Section-3</h2>
            <p>he following paragraph illustrates this pattern of organization. In this paragraph the topic
              sentence and concluding sentence</p>
              <a href="#">Button</a>
          </div>
</section>

<section class="section-7">
  <div class="Grid-Container">


  <div class="Hello1">
    <img src="Images/ch" alt="" width="25%">
    <p>Hello World This is Random text
    Hello World This is Random text
  Hello World This is Random text</p>
  </div>
  <div class="Hello">
    <img src="Images/chetan2.jpg" alt="">
  </div>
  <div class="Hello1">
    <img src="Images/che3 (1).jpg" alt="">
    <p>Hello World This is Random text
    Hello World This is Random text
  Hello World This is Random text</p>
  </div>
  <div class="Hello">
    <img src="Images/chetan4.jpg" alt="">
  </div>
  <div class="Hello">
    <img src="Images/chetan7.jpg" alt="">
  </div>
  <div class="Hello1">
    <img src="Images/chetan.jpg" alt="">
    <p>Hello World This is Random text
    Hello World This is Random text
  Hello World This is Random text</p>
  </div>
  <div class="Hello">
    <img src="Images/chetan5.jpg" alt="">
  </div>
  <div class="Hello1">
    <img src="Images/chetan.jpg" alt="">
    <p>Hello World This is Random text
    Hello World This is Random text
  Hello World This is Random text</p>
  </div>
  <!-- <div class="Hello">
    <img src="Images/chetan10.jpg" alt="">
  </div>
  <div class="Hello">
    <img src="Images/Chetan11.jpg" alt="">
  </div>
  <div class="Hello">
    <img src="Images/chets.jpg" alt="">
  </div>
  <div class="Hello">
    <img src="Images/chet.jpg" alt="">
  </div> -->
</div>
</section>

<div class="Section-10">
</div>


<footer class="footer">
<div class="footer-inner">
  <div><i class="fas fa-globe fa-2x"></i>English(United States) </div>
  <ul>
    <li> <a href="#">Download</a> </li>
    <li> <a href="#">Sitemap</a> </li>
    <li> <a href="#">Contact</a> </li>
    <li> <a href="#">Read More</a> </li>

  </ul>
</div>
</footer>

  </body>
</html>
